@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");
header {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  z-index: 101;
}

header .desktop__header {
  display: flex;
}

header .desktop__header .ul__navbar {
  list-style: none;
}

header .desktop__header .ul__navbar li {
  margin: 0 0.5rem;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.5s;
}

header .desktop__header .ul__navbar li:hover {
  background-size: 100% 1px;
}

header .desktop__header .ul__navbar li ul {
  display: none;
}

header .desktop__header .ul__navbar li:hover ul {
  display: flex;
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 1rem 0 0 0;
  background-color: black;
}

header .desktop__header .ul__navbar li:hover ul li {
  width: min-content;
  margin: 0.5rem;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.5s;
}

header .desktop__header .ul__navbar li:hover ul li:hover {
  background-size: 100% 1px;
}

header .desktop__header .ul__navbar .li__indumentaria:hover .chevron__up {
  transform: rotate(180deg);
  transition: 0.2s;
}

header .mobile__header {
  display: none;
}

header .mobile__header .offcanvas {
  width: 70%;
  background-color: black;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  header .desktop__header {
    display: none;
  }
  header .mobile__header {
    display: flex;
  }
  header .mobile__header .ul__navbar--mobile {
    list-style: none;
  }
  header .mobile__header .ul__navbar--mobile li {
    margin: 0.5rem 0;
  }
  header .mobile__header .ul__navbar--mobile .li__indumentaria .ul__hide {
    list-style: none;
  }
  header .mobile__header .ul__navbar--mobile .li__indumentaria .ul__hide li {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.5s;
  }
  header .mobile__header .ul__navbar--mobile .li__indumentaria .ul__hide li:hover {
    background-size: 100% 1px;
  }
  header .mobile__header .ul__navbar--mobile .li__indumentaria:hover .chevron__up {
    transform: rotate(180deg);
    transition: 0.2s;
  }
}

main {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

main .carousel__container img {
  max-height: 300px;
  object-fit: cover;
}

main .productos__container .title__productos {
  font-size: 1.2rem;
  font-weight: 600;
}

main .productos__container .ul__categorias {
  justify-content: center;
  list-style: none;
  overflow-x: scroll;
}

main .productos__container .ul__categorias::-webkit-scrollbar {
  display: none;
}

main .productos__container .ul__categorias li {
  font-size: 14px;
  padding: 0.5rem 0;
  cursor: pointer;
}

main .productos__container .ul__categorias li:hover {
  font-weight: 600;
}

main .productos__container .ul__categorias li:nth-child(-n + 9)::after {
  content: "|";
  margin: 0 0.5rem;
}

main .productos__container .productos .hover__zoom:hover {
  transform: scale(1.3);
  transition: 0.5s;
  cursor: zoom-out;
}

main .productos__container .productos article .card:hover {
  box-shadow: 0 0 10px #c7c7c7;
}

main .productos__container .productos article .card .card-title {
  font-weight: 500;
}

main .productos__container .productos article .card .card-text {
  font-weight: 500;
  font-size: 18px;
}

main .productos__container .productos article .card .precio__producto--cuotas {
  font-weight: 500;
  color: grey;
}

main .productos__container .productos article .card .modal .precio__producto {
  font-size: 30px;
  font-weight: 600;
}

main .productos__container .productos article .card .modal .formas-pago__container {
  font-size: 0.9rem;
}

main .productos__container .productos article .card .modal .titles__descripcion {
  font-weight: 500;
}

main .info {
  margin-top: 7rem;
}

main .info ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0rem;
}

main .info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main .info ul li p {
  text-align: center;
  font-size: 20px;
}

main .item-fixed {
  position: fixed;
  bottom: 3%;
  right: 0;
  width: min-content;
}

main .item-fixed img {
  width: 4rem;
}

@media only screen and (max-width: 768px) {
  main .productos__container .ul__categorias {
    justify-content: flex-start;
  }
  main .productos__container .ul__categorias::-webkit-scrollbar {
    display: inline;
  }
  main .productos__container .productos .hover__zoom {
    pointer-events: none;
  }
  main .info ul {
    flex-direction: column;
  }
  main .info ul li {
    margin: 0.5rem 0;
  }
}

footer {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

footer ul li {
  font-size: 20px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.5s;
}

footer ul li a:hover {
  background-size: 100% 1px;
  color: white;
}

@media only screen and (max-width: 768px) {
  footer {
    height: fit-content;
  }
  footer ul {
    flex-direction: column;
    align-items: center;
  }
  footer ul li {
    margin: 0.5rem 0;
  }
}

.main__404 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

.main__404 h1 {
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}

.main__404 h4 {
  font-size: 36px;
  font-weight: 500;
}

.main__404 h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.main__404 p {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .main__404 h1 {
    font-size: 64px;
  }
  .main__404 h4 {
    font-size: 24px;
  }
  .main__404 h5 {
    font-size: 18px;
  }
  .main__404 .section__img-404 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */