header {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  z-index: 101;

  .desktop__header {
    display: flex;

    .ul__navbar {
      list-style: none;

      li {
        margin: 0 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.5s;
        &:hover {
          background-size: 100% 1px;
        }

        ul {
          display: none;
        }

        &:hover {
          ul {
            display: flex;
            position: absolute;
            z-index: 100;
            list-style: none;
            padding: 1rem 0 0 0;
            background-color: black;

            li {
              width: min-content;
              margin: 0.5rem;
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size 0.5s;
              &:hover {
                background-size: 100% 1px;
              }
            }
          }
        }
      }

      .li__indumentaria:hover .chevron__up {
        transform: rotate(180deg);
        transition: 0.2s;
      }
    }
  }

  .mobile__header {
    display: none;

    .offcanvas {
      width: 70%;
      background-color: black;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    .desktop__header {
      display: none;
    }

    .mobile__header {
      display: flex;

      .ul__navbar--mobile {
        list-style: none;

        li {
          margin: 0.5rem 0;
        }

        .li__indumentaria {
          .ul__hide {
            list-style: none;

            li {
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size 0.5s;
              &:hover {
                background-size: 100% 1px;
              }
            }
          }

          &:hover .chevron__up {
            transform: rotate(180deg);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

main {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  h1 {
    font-weight: bold;
  }

  .carousel__container {
    img {
      max-height: 300px;
      object-fit: cover;
    }
  }

  .productos__container {
    .title__productos {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .ul__categorias {
      justify-content: center;
      list-style: none;
      // overflow-y: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        font-size: 14px;
        padding: 0.5rem 0;
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
        &:nth-child(-n + 9) {
          &::after {
            content: "|";
            margin: 0 0.5rem;
          }
        }
      }
    }

    .productos {
      .hover__zoom:hover {
        transform: scale(1.3);
        transition: 0.5s;
        cursor: zoom-out;
      }

      article {
        .card {
          &:hover {
            box-shadow: 0 0 10px rgb(199, 199, 199);
          }

          .card-title {
            font-weight: 500;
          }

          .card-text {
            font-weight: 500;
            font-size: 18px;
          }

          .precio__producto--cuotas {
            font-weight: 500;
            color: white;
            background-color: black;
          }

          .modal {
            .precio__producto {
              font-size: 30px;
              font-weight: 600;
            }

            .precio__producto--cuotas2 {
              font-weight: 500;
              color: grey;
            }

            .formas-pago__container {
              font-size: 0.9rem;
            }

            .titles__descripcion {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .info {
    margin-top: 7rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0rem;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  .item-fixed {
    position: fixed;
    bottom: 3%;
    right: 0;
    width: min-content;

    img {
      width: 4rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .productos__container {
      .ul__categorias {
        justify-content: flex-start;
        &::-webkit-scrollbar {
          display: inline;
        }
      }

      .productos {
        .hover__zoom {
          pointer-events: none;
        }
      }
    }
    .info ul {
      flex-direction: column;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

footer {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    li {
      font-size: 20px;

      a {
        color: white;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.5s;
        &:hover {
          background-size: 100% 1px;
          color: white;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: fit-content;

    ul {
      flex-direction: column;
      align-items: center;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}
