header {
  background-color: black;
  color: white;

  .desktop__header {
    display: flex;

    .ul__navbar {
      list-style: none;

      li {
        margin: 0 0.5rem;
        cursor: pointer;

        ul {
          display: none;
        }

        &:hover ul {
          display: block;
          position: absolute;
          z-index: 100;
          background-color: black;
        }
      }
    }
  }

  .mobile__header {
    display: none;

    .offcanvas {
      width: 70%;
      background-color: black;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    .desktop__header {
      display: none;
    }

    .mobile__header {
      display: flex;

      .ul__navbar--mobile {
        list-style: none;

        li {
          margin: 0.5rem 0;
        }

        .ul__hide {
          list-style: none;
        }
      }
    }
  }
}

main {
  background-color: white;
  .carousel__container {
    img {
      max-height: 300px;
      object-fit: cover;
    }
  }
}

footer {
  background-color: black;
  padding: 40px 0px;

  ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

    li {
      font-size: 130%;

      a {
        color: white;
        text-decoration: none;
      }
    }

    li:nth-child(2) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

body {
  .item-fixed {
    position: fixed;
    bottom: 25px;
    right: -870px;

    img {
    width: 10%;
    }
  }
}